.spacer {
    flex: 1 1 auto;
}

mat-icon {
    margin-left: 5px;
}

canvas { // TODO: prob can delete this.
    // border: 1px dashed grey;
    // i had sizing issues until i put the canvas above the toolbar in the html... and stopped using css height and width which just stretched the canvas lol
    position: absolute;
    z-index: -1;
}

// used text align center to center the container, but i wanted the text aligned left. was gonna reach for flexbox, but margin is cutting it
.introduction {    
    padding: 30px;
    max-width: 80%;
    margin: 10% auto;
    background-color: hsla(0, 0, 15, 0.85);
    height: 500px;
    border-radius: 20px;
}

// so much iteration on my design idek where to start documenting my thought process
.fancy-title {
    font-size: xxx-large; // haha VS Code doesn't know this is a thing
    font-weight: bolder;
    display: inline-block;
    // margin: 5px;
}

.subtitle {
    text-align: right;
}

.fancy-subtitle-letter {
    font-size: xx-large;
    margin: 5px;
    display: inline-block;
}

// how to get ng-particles not covering my stuff. z index doesn't cut it. 
// no display or position properties help. computed styling doesn't reveal
// any ideas...

// tried styling the canvas inside of the ng-particles element, but it
// doesn't seem to apply my styling, prob bc it's rendered afterwards?
// aha, it has a built in thing i can apply to particles options.