<mat-toolbar color="primary">
  <span>epic portfolio!</span>
  <span class="spacer"></span>
  <span class="madewith">made with</span>
  <mat-icon>favorite</mat-icon>
</mat-toolbar>

<div class="introduction">
  <h1>Hi 👋🏻 my name's <span class="fancy-title">MICHAEL IMGRUND</span></h1>
  <div class="subtitle">
    <h3>and I create <span class="fancy-subtitle">digital experiences</span></h3>
  </div>
</div>

<mat-chip-list>
  <mat-chip color="primary" selected>primary</mat-chip>
  <mat-chip color="accent" selected>accent</mat-chip>
  <mat-chip color="warn" selected>warn</mat-chip>
  <mat-chip>uncolored</mat-chip>
</mat-chip-list>
<!-- i should make a starfield with rainbow  -->
<!-- and a comment section -->
<!-- resume DL, work exp, contact info,  -->

<!-- and a ngrx / tone playground? -->
<!-- and a blog? -->