<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<mat-toolbar color="primary">
  <!-- div messed up styling. LFG ng content. -->
  <ng-container *ngIf="!isMobile">
    <span>made with</span>
    <mat-icon class="material-symbols-outlined heart">favorite_border</mat-icon>
    <span>using</span>
    <fa-icon [icon]="faAngular" size="lg" [styles]="{ margin: '10px' }"></fa-icon>
    <span class="spacer"></span>
  </ng-container>
  
  <a mat-icon-button href="https://www.instagram.com/_balloonatic_" target="_blank">
    <fa-icon [icon]="faInsta" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://www.linkedin.com/in/michael-imgrund" target="_blank">
    <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://www.github.com/Ballooonatic" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://www.soundcloud.com/so_co_tra" target="_blank">
    <fa-icon [icon]="faSoundcloud" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="mailto:michael.imgrund@gmail.com">
    <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
  </a>

  <a mat-raised-button color="primary" style="margin-left: 10px" href="assets/resume.pdf" target="_blank">
    Resume
    <mat-icon class="material-symbols-outlined">file_download</mat-icon>
  </a>
</mat-toolbar>



<div class="introduction">

  <div class="title">
    <h1>Hi 👋🏻 my name's</h1>
    <div class="name-wrapper">
      <span class="fancy-title" *ngFor="let letter of michael">{{letter}}</span>
    </div>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span> <!-- maybe a better way -->
    <div class="name-wrapper">
      <span class="fancy-title" *ngFor="let letter of imgrund">{{letter}}</span>
    </div>
  </div>

  <div class="subtitle">
    <h3>and I create</h3>
    <span class="fancy-subtitle-letter" *ngFor="let letter of digitalExperiences">{{letter}}</span>
  </div>

</div>


<div class="information">
  <div class="experience">
    <h1 class="text-center">places i've worked</h1>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image biteline"></div>
        <mat-card-title>Biteline</mat-card-title>
        <mat-card-subtitle>A staffing app for the dental industry</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/biteline.webp" alt="photo of biteline app">
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image cbc"></div>
        <mat-card-title>CBC Companies</mat-card-title>
        <mat-card-subtitle>I worked for their subsidiary, DataVerify</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>The holding company for a family of businesses which provide various risk management, data and lending support services.</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card">
      <mat-card-header>
        <mat-icon color="accent" mat-card-avatar class="material-symbols-outlined your-company-avatar">help</mat-icon>
        <mat-card-title>Your company</mat-card-title>
        <mat-card-subtitle>hopefully :D</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  
  <div class="about-me">
    <h1 class="text-center">about me</h1>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image peepo"></div>
        <mat-card-title>ya boi</mat-card-title>
        <mat-card-subtitle>Angular / Typescript dev, musician, smasher</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/portrait.jpeg" alt="photo of me">
      <mat-card-content>
        <p>
          Hey! I'm a self-taught TS dev who specializes in Angular and Node. My career began with networking in the Charlotte NC area 
          and contributing to projects, and a friend was able to throw an opportunity my way. I spent the next couple years at a startup, Biteline, 
          moved on to a CBC subsidiary, and am now looking for my next opportunity and honing my skills. I love exploring dev content through 
          articles and videos and always enjoy learning new things, especially if I have a reason to apply it. I also have a huge passion for 
          making music, and Super Smash Bros. Ultimate for the Nintendo Switch. If you ever want to challenge me, my discord tag is 
          <span class="dsc-tag" (click)="snackbar.open('copied!', '', { duration: 1500 })"
            matTooltip="copy?" cdkCopyToClipboard="balloonatic#8179">balloonatic#8179</span>!
          I'm always up for a fight.
        </p>
      </mat-card-content>
      <!-- couldn't get around clicking making the tooltip disappear so i gotta use a toast :( i was getting all fancy using events to change the text to "copied!" as well. oh well. -->
    </mat-card>
  </div> 
</div>


<!-- about me -->
<!-- projects -->
<!-- talk to me -->

<!-- <h3 class="wip">it's a work in progress... stay tuned for more :D</h3> -->

<!-- 
  Trying to figure out how to animate each letter. Not sure if anime has a bug or what. docs and google
  don't shed too much light on how their selection works. document.querySelectorAll doesn't cut it,
  I should prob know why it doesn't jive with Angular bc Angular has their way of accessing DOM Elements
  but I don't know exactly why lol. Looking into ViewChild(ren) aaand i'm not sure where to start. Could I 
  grab them all with ViewChildren? Or put ViewChild on a parent element and try to loop through the children?

  ViewChildren gives you an array of ElementRefs which i think anime can't target. 
  ViewChild returns the ElementRef of the subtitle which has a 'childNodes' property, however it turns up
  undefined when i try to use it bc of some internal thing going on i don't understand bc of course. how can 
  you console.log the thing and it's undefined when you try to use it? gaaaah

  omg what a pain. I noticed it was animating my h3 but not the span. i thought it had to do with nesting but
  i tried different tags in case it didn't like span. <p> worked. then i made it display inline because i
  didn't want vertical text. it stopped working. so animejs requires display block elements to animate. 
  thank frick i found this.
-->

<!-- to do :D -->

<!-- and a comment section -->
<!-- resume DL, work exp, contact info,  -->

<!-- maybe a prod app with db / auth / api / testing / cicd -->
<!-- and a ngrx / tone playground? -->
<!-- and a blog? -->